# *** USING ENVIRONMENT VARIABLES ***
# See https://prototype-kit.service.gov.uk/docs/tutorials-and-guides or
# https://github.com/alphagov/govuk-prototype-kit for guidance on using environment variables with the prototype kit
# The README.md has details about the environment variables available in the GOV.UK Prototype Kit

# GOV.UK Prototype Kit Environment variables

# Set a password to protect the prototype with basic auth (leave blank for no password)
PASSWORD=
#PASSWORD_KEYS=

# Add your own environment variables below

# APHA Integration Bridge - Cognito authentication
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
APHA_URL=

# APHA API base URL (e.g. https://api.example.gov.uk)
APHA_API_BASE_URL=

# Developer API key from CDP
DEV_API_KEY=

NODE_ENV=development