{% extends "layouts/main.html" %}

{% block pageTitle %}
  Which test did you do? – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a href="/test-list/report-day-2" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorSummary %}
      {{ govukErrorSummary(errorSummary) }}
    {% endif %}

    {% if data['tl_herd'] %}
      <span class="govuk-caption-l">{{ data['tl_herd']['farm'] }}</span>
    {% endif %}

    {% set resolvedTestTypes = selectedTestTypes if selectedTestTypes else (data['tl_reportTestTypes'] or []) %}

    {% set sicctBatchHtml %}
      {{ govukInput({
        id: "tl_reportSicctBatchNumbers_0",
        name: "tl_reportSicctBatchNumbers",
        label: { text: "Batch number", classes: "govuk-label--s" },
        classes: "govuk-!-width-two-thirds",
        value: sicctBatchValue
      }) }}
    {% endset %}

    {% set divaBatchHtml %}
      {{ govukInput({
        id: "tl_reportDivaBatchNumbers_0",
        name: "tl_reportDivaBatchNumbers",
        label: { text: "Batch number", classes: "govuk-label--s" },
        classes: "govuk-!-width-two-thirds",
        value: divaBatchValue
      }) }}
    {% endset %}

    <form action="/test-list/report-test-type" method="post" novalidate>

      {{ govukCheckboxes({
        idPrefix: "tl_reportTestTypes",
        name: "tl_reportTestTypes",
        errorMessage: { text: errors['tl_reportTestTypes'].text } if errors and errors['tl_reportTestTypes'],
        fieldset: {
          legend: {
            text: "Which test did you do?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: { text: "Select all that apply." },
        items: [
          {
            value: "sicct",
            text: "SICCT test",
            checked: "sicct" in resolvedTestTypes,
            conditional: { html: sicctBatchHtml }
          },
          {
            value: "diva",
            text: "DIVA test",
            checked: "diva" in resolvedTestTypes,
            conditional: { html: divaBatchHtml }
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>

  </div>
</div>
{% endblock %}
