{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search for a farm – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorSummary %}
      {{ govukErrorSummary(errorSummary) }}
    {% endif %}

    <h1 class="govuk-heading-l">Prepare a test list</h1>
    <p class="govuk-body">
      You're preparing a list of cattle for skin testing.
    </p>

    <form action="/test-list/search" method="post" novalidate>
      {{ govukInput({
        label: {
          text: "Enter a CPH, farm name, postcode or ear tag",
          classes: "govuk-label--m"
        },
        hint: {
          text: "For example, 12/345/6789, Hill Farm, HG4 1BC, or UK341234400156"
        },
        id: "tl_cattleSearch",
        name: "tl_cattleSearch",
        value: data['tl_cattleSearch'],
        errorMessage: { text: errors['tl_cattleSearch'].text } if errors and errors['tl_cattleSearch']
      }) }}

      {{ govukButton({ text: "Search" }) }}
    </form>
  </div>
</div>
{% endblock %}
