{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Cattle TB vaccination prototype</h1>

    <p class="govuk-body">Select a user journey to prototype:</p>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a href="/expression-of-interest/start" class="govuk-link govuk-!-font-size-19">
          Expression of interest
        </a>
        <p class="govuk-body govuk-!-color-secondary">
          For herd owners who have found the service and want to sign up for TB vaccination.
        </p>
      </li>
      <li>
        <a href="/invitation/start" class="govuk-link govuk-!-font-size-19">
          Invitation to vaccinate
        </a>
        <p class="govuk-body govuk-!-color-secondary">
          For herd owners who have received an invitation to participate in the TB vaccination programme.
        </p>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-s">API explorer</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a href="/api-explorer/cph" class="govuk-link govuk-!-font-size-19">
          CPH lookup
        </a>
        <p class="govuk-body govuk-!-color-secondary">
          Look up a holding by CPH number using the APHA API.
        </p>
      </li>
      <li>
        <a href="/api-explorer/workorders" class="govuk-link govuk-!-font-size-19">
          Work orders
        </a>
        <p class="govuk-body govuk-!-color-secondary">
          Query the APHA API for work orders by country and date range.
        </p>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
