{% extends "layouts/main.html" %}

{% set pageName="Your contact details" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="/expression-of-interest/contact-details">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <h1 class="govuk-heading-l">Your contact details</h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="full-name">
          Full name
        </label>
        <input class="govuk-input" id="full-name" name="fullName" type="text" autocomplete="name" value="{{ data['fullName'] }}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Email address
        </label>
        <div id="email-hint" class="govuk-hint">
          We'll use this to send you updates about your application.
        </div>
        <input class="govuk-input" id="email" name="email" type="email" autocomplete="email" aria-describedby="email-hint" value="{{ data['email'] }}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="phone">
          Phone number (optional)
        </label>
        <input class="govuk-input govuk-input--width-20" id="phone" name="phone" type="tel" autocomplete="tel" value="{{ data['phone'] }}">
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </div>

    </form>

  </div>
</div>

{% endblock %}
